<app-navigation />

    @if(loading){
        <div class="flex flex-col justify-center items-center h-screen">
        <app-loading />
        </div>
    }@else{
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-blue-500 text-3xl mb-2">How savings are calculated?</h1>
        <p>
        Savings are calculated from your subscription date to yesterday 23:59 (today not included).
        </p>
        <img class="w-80 h-80" src="images/piggybank.gif">
        <div>
        <p class="text-5xl mt-5">You saved: <span class="text-green-500">{{displayedSavings}}€</span></p>
        </div>
    </div>
    }
