<div class="flex flex-col justify-center items-center h-screen bg-yellowdog">
    @if(loading){
      <app-loading/>
    }@else{
    @if(checkStartTimer){
      <img class="w-48 h-48 object-cover mx-auto" src="images/nosmoking.gif" alt="Cigarette">
      <p class="text-red-900 mb-4">Hold out until the timer ends!</p>
      <div class="relative w-64 h-16 overflow-hidden rounded-full bg-gray-300 mb-4">
        <div class="absolute inset-0 bg-red-900"></div>
        <div class="absolute inset-0 bg-red-500" [style.clip-path]="clipPath" [style.transitionDuration]="durationSeconds"></div>
      </div>
    }@else{
        <img class="w-48 h-48 object-cover mx-auto" src="images/cigarette.gif" alt="Cigarette">
        <p class="text-bluedog mb-4">Now you can smoke</p>
        <div class="relative w-64 h-16 overflow-hidden rounded-full bg-bluedoghover mb-4"></div>
    }
  
    @if(seconds > 0){
        <p class="text-red-700 mb-4">{{timerText}}</p>  
    }
    @else{
        <p class="text-bluedog mb-4">{{timerText}}</p>  
     }
     @if(displayButton){
        <button class="bg-bluedog text-yellowdog p-2 rounded-lg transform hover:scale-110" (click)="showForm()" >Smoke cigarette</button>
     }
     
    }
  </div>
  